<div class="container">
    <div id="left-content">
        <img src="../../../assets/images/personal-body.png" alt="Personal logo" width="450vh" height="450vh">
        <div id="footer-left">
            <p>Created by @JoseLCT</p>
            <i class="pi pi-github"></i>
        </div>
    </div>
    <div id="right-content">
        <h1>Login</h1>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <i class="pi pi-user"></i>
            </span>
            <input type="text" pInputText placeholder="Email">
        </div>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <i class="pi pi-lock"></i>
            </span>
            <input type="password" pInputText placeholder="Password">
        </div>
        <p-button label="Login" styleClass="p-button-rounded p-button-secondary"></p-button>
        <div id="footer-right">
            <p>New User?</p>
            <button id="btn-create-acc">Create Account</button>
        </div>
    </div>
</div>